<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2020-03-21T12:47:45Z</date>
	<key>WorkspacePath</key>
	<string>/Users/mzierenner@emailn.de/Documents/ActionSheetPicker/ActionSheetPicker.xcodeproj</string>
</dict>
</plist>
